<section style="margin-top: 30px; width: 80%; float: right; margin-bottom: 120px">
  <p>Display event : {{displayEvent | json}}</p>
  
<div class=" row col-12">
  <div class="col-lg-3"></div>
  <div class="col-lg-9" style="    margin-top: 36px;">
    <full-calendar 
      defaultView="dayGridMonth" 
      #calendar
      (eventClick)="eventClick($event)"
      [plugins]="calendarPlugins" 
      [header] = "header"
      [titleFormat] = "titleFormat"
      [eventLimit] = "flage"
      [events]="[
      { title: 'event1',
      date: '2019-04-01',
      id:'0' ,
      end: '2019-04-04',
      color: '#818900',   
      textColor: '#fff',
      className:'fc-green'    },

      { title: 'event4',
      date: '2019-04-01',
      id:'0' ,
      end: '2019-04-02',
      color: '#818900',   
      textColor: '#fff',
      className:'fc-green'    },

      { title: 'event4',
      date: '2019-04-01',
      id:'0' ,
      end: '2019-04-02',
      color: '#818900',   
      textColor: '#fff',
      className:' fc-green'    },

      { title: 'event1',
      date: '2019-04-01',
      id:'0' ,
      end: '2019-04-02',
      color: '#818900',   
      textColor: '#fff',
      className:'fc-green'    },

      { title: 'event1',
      date: '2019-04-01',
      id:'0' ,
      end: '2019-04-02',
      color: '#818900',   
      textColor: '#fff',
      className:'fc-green'    },

      { title: 'event3',
      date: '2019-04-01',
      id:'0' ,
      end: '2019-04-02',
      color: '#818900',   
      textColor: '#fff',
      className:'fc-green'    },
      
      { title: 'event 2',
      date: '2019-04-09' ,
      id:'0' ,
      end: '2019-04-12',
      color: '#818900',   
      textColor: '#fff',
      className:'fc-blue'    } 
      ,
      
      { title: 'event 2',
      date: '2019-04-04' ,
      id:'0' ,
      end: '2019-04-07',
      color: '#818900',   
      textColor: '#fff',
      className:'fc-blue'    } 
      ,
      { title: 'event 3',
      date: '2019-06-09' ,
      id:'0' ,
      end: '2019-08-15',
      color: '#818900',   
      textColor: '#fff',
      className:'fc-green'    } 
      ]"
      ></full-calendar>
    </div>
</div>
</section>
