<section style="margin-top: 30px; width:80%; float: right; margin-bottom: 120px">
  <p>Display event : {{displayEvent | json}}</p>
  
<div class=" row col-12">
  <div class="col-lg-3"></div>
  <div class="col-lg-9" style="    margin-top: 36px;">
    <full-calendar 
      defaultView="dayGridMonth" 
      #calendar
      (eventClick)="eventClick($event)"
      [plugins]="calendarPlugins" 
      [header] = "header"
      [titleFormat] = "titleFormat"
      [eventLimit] = "flage"
      [events]="events"
      ></full-calendar>
    </div>
</div>
</section>
